<app-navbar></app-navbar>

<div class="page-wrap">

  <div class="fw">
    <div class="fw-vp vertical-sidenav-container hide-mobile">
      <div class="col-md-3 sidenav vertical-sidenav">
          <div class="panel-group" id="accordionMenu" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_primary_1" cc="nav_link_primary_1" class="collapsed expand-arrow" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" touchstart="" tabindex="0">
                    US Locations
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <ul class="nav">
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">Carlsbad, CA</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">Atlanta, GA</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">Austin, TX</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">Baltimore, MD</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">Boston, MA</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">Bryan/College Station, TX</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">Denver, CO</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">Germantown, MD</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">San Jose, CA</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">Seattle, WA</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">Tempe, AZ</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_primary_2" cc="nav_link_primary_2" class="collapsed expand-arrow" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" tabindex="0" touchstart="">
                    International Locations
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <ul class="nav">
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">Australia, Sydney</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">China, Beijing</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">India, Chennai</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">Ireland, Dublin</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">Switzerland, Lausanne</a></li>
                      <li touchstart=""><a data-track-content data-content-name="Navigation-global-vertical" data-content-piece="nav_link_sec_1_3" cc="nav_link_sec_1_3" routerLink='map' tabindex="0">UK, Farnborough</a></li>
                      
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>          
  </div>

<div class="col-md-8">
  <iframe width="1000" height="500" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJh5eo619z3IARSo-4hMyEM8c&key=AIzaSyDRO-0eLLg1_GbUQxwYvlLJToc1CHCaItc" allowfullscreen></iframe>
</div>

</div>
